parameters:

    # all allowed locales, new locales MUST be defined!!!
    locales_allowed: de_DE|en_GB|de_CH|fr_FR

    # specify which locale is allowed in which country by top level domain
    localesByCountry:
        # Global Domain
        com:
            locales: [en_US, en_GB]
            default_locale: en_US
        # Switzerland
        ch:
            locales: [de_CH, fr_FR, en_GB]
            default_locale: de_CH
        # Germany
        de:
            locales: [de_DE, en_GB]
            default_locale: de_DE

        #add more countries here

        # default, if unknown top level domain was found
        default:
            name: Germany
            locales: [de_DE, en_GB]
            default_locale: de_DE

    # Config data for locales, important for language dropdown menu
    locales_config:
        de_DE:
            image: de.gif
            label: Deutsch
        de_CH:
            image: de_ch.gif
            label: Deutsch (Schweiz)
        fr_FR:
            image: fr.gif
            label: Français
        en_GB:
            image: en.gif
            label: English


    # Whitelist of routes, where locale validation is activated
    include_paths:
        - /demo

    # Regular Expression to find a locale pattern like 'de_DE' within a string (url)
    regex_locale:           |\/(?P<locale>[a-z]{2}_[A-Z]{2})\/|
    regex_locale_short:     |\/(?P<locale>[a-z]{2})\/|

    # Cookie name for user locale
    cookie_name:  tl